
html, body              { overflow: scroll; scrollbar-width: none;               }
body                    {                  
margin: none; padding: none; border: none; outline: none; }
p                       { margin: 0;                                             }
body::-webkit-scrollbar { display: none;                                         }
body          {
background-color: rgb(127,127,127);
font-family: monospace;
font-style: italic;
border: none;
padding: none;
margin: none;
outline: none;
}

button        {
background-color: transparent;
border:  none;
margin:  none;
padding: none;
outline: none;
font-family: inherit;
font-style:  inherit;
font-size:   inherit;
}

button:focus  {
outline: none;
border-radius: 4px;
outline-offset: -2px;
outline: 2px solid black;
background-color: blue;
font-weight: bold;
}
button:active {
color: white;
}

.directory       { color: darkmagenta; }
.directory:focus { color: magenta;     }

.baseDir         { color: black;       }
.baseDir:focus   { color: black;       }

.file            { color: darkgreen;   }
.file:focus      { color: lime;        }

.js              { color: darkgreen;   }
.js:focus        { color: lime;        }

.css             { color: darkgreen;   }
.css:focus       { color: lime;        }

.sh              { color: darkgreen;   }
.sh:focus        { color: lime;        }

.html            { color: darkgreen;   }
.html:focus      { color: lime;        }




.treeMain {
position: absolute;
border:  none;
margin:  none;
padding: none;
outline: none;
}









.path {
text-align: left;
border-left:  1px solid white;
border-right: 1px solid white;
padding: 0.1vw;
}

.brushTop {
border-top-left-radius:  0.75vw;
border-top-right-radius: 0.75vw;
border-top: 0.1vw solid white;
}

.brushBottom {
border-bottom-left-radius:  0.75vw;
border-bottom-right-radius: 0.75vw;
border-bottom: 0.1vw solid white;
margin-bottom: 0.4vw;
}

.highlight   {
position: relative;
left: -1vw;
width: calc(100% + 0.75vw);
padding-left: 1vw;
border-radius: 2vw;
outline-offset: 0.05vw;
outline: 0.1vw solid black;
border:  0.1vw solid white;
box-shadow: 0 0 1.5vw black;
z-index: 500;
opacity: 0.9;
}

.copied {
outline-offset: 0px;
outline: 2px solid red;
box-shadow: 0 0 1.5vw white;
}





/* this is the indication of the colour associated letter */
.letter          {
border-radius: 10px;
border: 1px solid rgb( 63, 63, 63);
color: rgb( 63, 63, 63);
background-color: rgba(255,255,255,0.2);
font-style: normal;
font-weight: bold;
}

/* the notifications which follow the line and appear temporarily */
.notification {
}



















.GUI {
position: fixed;
left:      0;
bottom:    0;
width:  100%;
height: calc(5/15 * 100vw);
transform-origin: bottom left;
z-index: 500;
margin: none;
padding: none;
border-radius: 0.5vw;
background-color: black;
}

.indicator      {
position: absolute;
z-index: 100;
width:  calc(1/15 * 100vw);
height: calc(1/15 * 100vw);
background-color: rgb(191,191,191);
color: rgb( 63, 63, 63);
font-size: 2.5vw;
font-family: monospace;
font-style: normal;
font-weight: bold;
border: 0.1vw solid black;
/*outline-offset: -0.06vw;*/
border-radius: 0.5vw;
border: 0.4vw double;
}

.character {
position: relative;
}

.numberRow {
position: relative;
outline: 0.1vw solid black;
border-radius: 4vw;
}

.numeral {
position: absolute;
top: 0.25vw;
left: 0.5vw;
font-size: 1.5vw;
}

.hideIndicator {
position: absolute;
bottom: 0vw;
right:  0vw;
width: 100%;
background-color: rgba(255,255,255, 0.5);
border-top: 0.1vw solid grey;
text-align: center;
font-size: 1.5vw;
}

.extraText {
position: absolute;
bottom: 0vw;
right:  0vw;
width: 100%;
text-align: center;
font-size: 1.5vw;
}



.hiddenKey {
outline-offset: -0.4vw;
outline: 0.4vw dashed rgba(  0,  0,  0, 0.5);
}

.tilde        { left: calc(  0.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.n1           { left: calc(  1.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.n2           { left: calc(  2.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.n3           { left: calc(  3.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.n4           { left: calc(  4.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.n5           { left: calc(  5.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.n6           { left: calc(  6.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.n7           { left: calc(  7.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.n8           { left: calc(  8.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.n9           { left: calc(  9.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.n0           { left: calc( 10.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.minus        { left: calc( 11.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.plus         { left: calc( 12.00/15 * 100vw); bottom: calc(4/15 * 100vw); }
.backspace    { left: calc( 13.00/15 * 100vw); bottom: calc(4/15 * 100vw); width: calc(2.00/15 * 100vw); }

.tab          { left: calc(  0.00/15 * 100vw); bottom: calc(3/15 * 100vw); width: calc(1.50/15 * 100vw); }
.Q            { left: calc(  1.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.W            { left: calc(  2.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.E            { left: calc(  3.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.R            { left: calc(  4.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.T            { left: calc(  5.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.Y            { left: calc(  6.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.U            { left: calc(  7.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.I            { left: calc(  8.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.O            { left: calc(  9.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.P            { left: calc( 10.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.leftbracket  { left: calc( 11.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.rightbracket { left: calc( 12.50/15 * 100vw); bottom: calc(3/15 * 100vw); }
.backslash    { left: calc( 13.50/15 * 100vw); bottom: calc(3/15 * 100vw); width: calc(1.50/15 * 100vw); }

.caps         { left: calc(  0.00/15 * 100vw); bottom: calc(2/15 * 100vw); width: calc(1.75/15 * 100vw); }
.A            { left: calc(  1.75/15 * 100vw); bottom: calc(2/15 * 100vw); }
.S            { left: calc(  2.75/15 * 100vw); bottom: calc(2/15 * 100vw); }
.D            { left: calc(  3.75/15 * 100vw); bottom: calc(2/15 * 100vw); }
.F            { left: calc(  4.75/15 * 100vw); bottom: calc(2/15 * 100vw); }
.G            { left: calc(  5.75/15 * 100vw); bottom: calc(2/15 * 100vw); }
.H            { left: calc(  6.75/15 * 100vw); bottom: calc(2/15 * 100vw); }
.J            { left: calc(  7.75/15 * 100vw); bottom: calc(2/15 * 100vw); }
.K            { left: calc(  8.75/15 * 100vw); bottom: calc(2/15 * 100vw); }
.L            { left: calc(  9.75/15 * 100vw); bottom: calc(2/15 * 100vw); }

.tilde, .n1, .n2, .n3, .n4, .n5, .n6, .n7, .n8, .n9, .n0, .minus, .plus, .backspace, .tab, .leftbracket, .rightbracket, .backslash, .caps, .semicolon, .apostrophe, .enter, .leftshift, .lt, .gt, .forwardslash, .rightshift, .leftctrl, .windowskey, .leftalt, .spacebar, .rightalt, .fn, .menu, .rightctrl, .A, .G, .H, .J, .K, .L {
outline-offset: -1vw;
outline: 0.4vw outset white;
}

.forwardslash { 
outline-offset: -1.65vw;
outline: 1vw outset cyan;
background-color: magenta;
font-size: 4vw;
color: cyan;
}

.semicolon    { left: calc( 10.75/15 * 100vw); bottom: calc(2/15 * 100vw); }
.apostrophe   { left: calc( 11.75/15 * 100vw); bottom: calc(2/15 * 100vw); }
.enter        { left: calc( 12.75/15 * 100vw); bottom: calc(2/15 * 100vw); width: calc(2.25/15 * 100vw); }

.leftshift    { left: calc(  0.00/15 * 100vw); bottom: calc(1/15 * 100vw); width: calc(2.25/15 * 100vw); }
.Z            { left: calc(  2.25/15 * 100vw); bottom: calc(1/15 * 100vw); }
.X            { left: calc(  3.25/15 * 100vw); bottom: calc(1/15 * 100vw); }
.C            { left: calc(  4.25/15 * 100vw); bottom: calc(1/15 * 100vw); }
.V            { left: calc(  5.25/15 * 100vw); bottom: calc(1/15 * 100vw); }
.B            { left: calc(  6.25/15 * 100vw); bottom: calc(1/15 * 100vw); }
.N            { left: calc(  7.25/15 * 100vw); bottom: calc(1/15 * 100vw); }
.M            { left: calc(  8.25/15 * 100vw); bottom: calc(1/15 * 100vw); }
.lt           { left: calc(  9.25/15 * 100vw); bottom: calc(1/15 * 100vw); }
.gt           { left: calc( 10.25/15 * 100vw); bottom: calc(1/15 * 100vw); }
.forwardslash { left: calc( 11.25/15 * 100vw); bottom: calc(1/15 * 100vw); }
.rightshift   { left: calc( 12.25/15 * 100vw); bottom: calc(1/15 * 100vw); width: calc(2.75/15 * 100vw); }

.leftctrl     { left: calc(  0.00/15 * 100vw); bottom:               0vw; width: calc(1.50/15 * 100vw); }
.windowskey   { left: calc(  1.50/15 * 100vw); bottom:               0vw; width: calc(1.25/15 * 100vw); }
.leftalt      { left: calc(  2.75/15 * 100vw); bottom:               0vw; width: calc(1.25/15 * 100vw); }
.spacebar     { left: calc(  4.00/15 * 100vw); bottom:               0vw; width: calc(5.75/15 * 100vw); }
.rightalt     { left: calc(  9.75/15 * 100vw); bottom:               0vw; width: calc(1.25/15 * 100vw); }
.fn           { left: calc( 11.00/15 * 100vw); bottom:               0vw; width: calc(1.25/15 * 100vw); }
.menu         { left: calc( 12.25/15 * 100vw); bottom:               0vw; width: calc(1.25/15 * 100vw); }
.rightctrl    { left: calc( 13.50/15 * 100vw); bottom:               0vw; width: calc(1.50/15 * 100vw); }


/* an alternate layout that is minimal */

.n1alt        { left: calc(  0/15 * 100vw); bottom: calc(0/15 * 100vw); }
.n2alt        { left: calc(  1/15 * 100vw); bottom: calc(0/15 * 100vw); }
.n3alt        { left: calc(  2/15 * 100vw); bottom: calc(0/15 * 100vw); }
.n4alt        { left: calc(  3/15 * 100vw); bottom: calc(0/15 * 100vw); }
.n5alt        { left: calc(  4/15 * 100vw); bottom: calc(0/15 * 100vw); }
.n6alt        { left: calc(  5/15 * 100vw); bottom: calc(0/15 * 100vw); }
.n7alt        { left: calc(  6/15 * 100vw); bottom: calc(0/15 * 100vw); }
.n8alt        { left: calc(  7/15 * 100vw); bottom: calc(0/15 * 100vw); }
.n9alt        { left: calc(  8/15 * 100vw); bottom: calc(0/15 * 100vw); }
.n0alt        { left: calc(  9/15 * 100vw); bottom: calc(0/15 * 100vw); }
.Calt         { left: calc( 10/15 * 100vw); bottom: calc(0/15 * 100vw); }
.Valt         { left: calc( 11/15 * 100vw); bottom: calc(0/15 * 100vw); }
.Balt         { left: calc( 12/15 * 100vw); bottom: calc(0/15 * 100vw); }
.Nalt         { left: calc( 13/15 * 100vw); bottom: calc(0/15 * 100vw); }
.Malt         { left: calc( 14/15 * 100vw); bottom: calc(0/15 * 100vw); }

.Qalt         { left: calc(  0/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Walt         { left: calc(  1/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Ealt         { left: calc(  2/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Ralt         { left: calc(  3/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Talt         { left: calc(  4/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Yalt         { left: calc(  5/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Ualt         { left: calc(  6/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Ialt         { left: calc(  7/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Oalt         { left: calc(  8/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Palt         { left: calc(  9/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Salt         { left: calc( 10/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Dalt         { left: calc( 11/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Falt         { left: calc( 12/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Zalt         { left: calc( 13/15 * 100vw); bottom: calc(1/15 * 100vw); }
.Xalt         { left: calc( 14/15 * 100vw); bottom: calc(1/15 * 100vw); }





.hideThisLetter { display: none; }
.GUIsmall       { height: calc(2/15 * 100vw); }

.press          {
z-index: 600;
outline: 1.0vw solid lime;
}

.isolation {
text-shadow:
 0.1vw    0   0 red,     0.1vw  0.1vw 0 red,
 0      0.1vw 0 red,   -0.1vw    0    0 red,
-0.1vw -0.1vw 0 red,   0   -0.1vw     0 red;
border-color: red;
}














.command {
background-color: white;
color: black;
left: calc(11/15 * 100vw);
width: calc(2.5/15 * 100vw);
bottom: 0vw;
}

.currentView {
outline-offset: -1.25vw;
outline: 0.7vw double black;
background-color: rgb(91,91,91);
color: lightgrey;
font-size: 3.5vw;
}



.searchBar {
position: absolute;
top: calc(-1/15 * 100vw - 0.75vw);
text-align: center;
left: 0.2vw;
width: 98.4vw;
height: calc(1/15 * 100vw);
outline: 0.4vw solid white;
border-radius: 1vw;
border: none;
padding-left: 1vw;
font-family: monospace;
font-size: 5vw;
font-style: italic;
background-color: rgba(153,153,153,0.85);
color: white;
}


.grepBar {
position: absolute;
top: calc(-1/15 * 100vw - 0.75vw);
text-align: center;
left: 0.2vw;
width: 98.4vw;
height: calc(1/15 * 100vw);
outline: 0.4vw solid white;
border-radius: 1vw;
border: none;
padding-left: 1vw;
font-family: monospace;
font-size: 5vw;
font-style: italic;
background-color: rgba(153,153,153,0.85);
color: white;
}
.window {
position: fixed;
border:  none;
margin:  none;
padding: none;
outline: 0.1vh solid white;
border-radius: 1vw;
border-width: 0.25vw;
border-style: dotted;
border-color:  white;
border-right-width: 1vw;
border-left-width:  1vw;
}

.filter {
position: fixed;
pointer-events: none;
border:  none;
margin:  none;
padding: none;
text-align: right;
outline: 0.1vh solid white;
border-radius: 1vw;
border-width: 0.25vw;
border-style:  solid;
border-color:  green;
border-right-width: 1vw;
border-left-width:  1vw;
color: black;
overflow: hidden;
}

.viewerLayoutLeft0  { width:  calc(             0vw); left: calc(             0.1vw); }
.viewerLayoutLeft1  { width:  calc(1/2 * 100% - 1vw); left: calc(0/1 * 100% + 1.1vw); }
.viewerLayoutLeft2  { width:  calc(1/3 * 100% - 1vw); left: calc(0/1 * 100% + 1.1vw); }

.viewerLayoutRight0 { width:  calc(             0vw); left: calc(1/1 * 100% - 2.1vw); }
.viewerLayoutRight1 { width:  calc(             0vw); left: calc(1/1 * 100% - 2.1vw); }
.viewerLayoutRight2 { width:  calc(1/3 * 100% - 1vw); left: calc(2/3 * 100% - 2.1vw); }

.oct0               { top: calc(0/4 * 100% + 0.125%); }
.oct1               { top: calc(2/4 * 100% + 0.125%); }
.oct2               { top: calc(0/4 * 100% + 0.125%); }
.oct3               { top: calc(2/4 * 100% + 0.125%); }

.viewerQuad         { height: calc(2/4 * 100% - 1%); z-index: 400; }
.viewerSemi         { height: calc(4/4 * 100% - 1%); z-index: 500; }
