.UIwizardButton         { width: 64px; height: 64px; margin: 0px; padding: 0px; border: 0px; border-radius: 1px; }
.UIwizardButton:hover   { z-index: 100; outline: 8px solid lime;                 }
.UIwizardButton:active  { z-index: 100; outline: 8px solid magenta;              }
.xqnBTN                 { background-color: lightgrey;                           }
.xqnBTN:hover           { background-color: lime;                                }
.xqnBTN:active          { background-color: yellow;                              }
.layerButton            { background-color: white; width: 100%; height: 100%; margin: 0; padding: 0; border: none; font: inherit; color: inherit; }
.layerButton:hover      { background-color: #DEFF1C;                             }
.layerButton:active     { background-color: magenta;                             }

.wonkie        { outline: none;              outline-offset:  0px; }
.wonkie:hover  { outline: 1px dashed yellow; outline-offset: -1px; }
.wonkie:active { outline: 2px solid lime;    outline-offset: -2px; }

.wonkieTop        { outline: none;              outline-offset:  0px; }
.wonkieTop:hover  { outline: 2px solid magenta; outline-offset: -2px; }
.wonkieTop:active { outline: 4px solid blue;    outline-offset: -4px; }

@font-face {
font-family: 'JungYulKim2';
src: url('JungYulKim2-Regular.woff?v=2025114210000') format('woff');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'JungYulKim2';
src: url('JungYulKim2-Bold.woff?v=2025114210000') format('woff');
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: 'dckimPixelMono';
src: url('dckimPixelMono.woff?v=2025114210000') format('woff');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'dckimPixelMono';
src: url('dckimPixelMonoBold.woff?v=2025114210000') format('woff');
font-weight: 700;
font-style: normal;
}

body { font-family: 'JungYulKim2'; }

.dckimPixelMono { font-family: 'dckimPixelMono'; line-height: 1.1; }

img, canvas { image-rendering: crisp-edges; image-rendering: pixelated; }

input[type="color"]::-webkit-color-swatch-wrapper { padding: 0; }
input[type="color"]::-webkit-color-swatch { border: none; }
input[type="color"] {
-webkit-appearance: none;
appearance: none;
border: none;
padding: 0;
margin: 0;
}






input[type=range] {
appearance: none;
background: transparent;
border: none;
cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
width: 10px;
height: 24px;
appearance: none;
background: url("hdub_range_thumb.png?v=1") no-repeat center/contain;
border: none;
}

input[type=range]::-webkit-slider-runnable-track {
background: transparent;
}

input[type=range]::-moz-range-thumb {
background: url("hdub_range_thumb.png?v=1") no-repeat center/contain;
border: none;
width: 10px;
height: 24px;
}

input[type=range]::-moz-range-track {
background: transparent;
}